.login-container {
  width: 100%;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  background: linear-gradient(
    135deg,
    #0d3b66,
    #14508b
  );
}

.login-box {
  width: 900px;
  height: 500px;

  background-color: white;

  border-radius: 15px;

  overflow: hidden;

  display: flex;

  box-shadow: 0 0 20px rgba(0,0,0,0.2);
}

.login-left {
  width: 50%;

  background-color: #0d3b66;

  color: white;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 40px;
}

.login-left h1 {
  font-size: 60px;

  margin-bottom: 20px;
}

.login-left p {
  font-size: 18px;

  text-align: center;
}

.login-form {
  width: 50%;

  display: flex;
  flex-direction: column;
  justify-content: center;

  padding: 50px;

  gap: 20px;
}

.login-form h2 {
  color: #0d3b66;

  margin-bottom: 10px;
}

.login-form input {
  padding: 14px;

  border: 1px solid #ccc;

  border-radius: 8px;

  outline: none;

  font-size: 15px;
}

.login-form input:focus {
  border-color: #0d3b66;
}

.login-form button {
  padding: 14px;

  border: none;

  background-color: #0d3b66;

  color: white;

  border-radius: 8px;

  font-size: 16px;

  transition: 0.3s;
}

.login-form button:hover {
  background-color: #14508b;
}

.erro {
  color: red;

  font-size: 14px;
}

@media (max-width: 768px) {

  .login-box {
    width: 95%;

    height: auto;

    flex-direction: column;
  }

  .login-left,
  .login-form {
    width: 100%;
  }

  .login-left {
    padding: 30px;
  }

}