.sidebar {
  width: 250px;
  height: 100vh;

  background-color: #0d3b66;

  position: fixed;

  padding: 30px;

  color: white;
}

.sidebar h2 {
  margin-bottom: 40px;

  text-align: center;
}

.sidebar nav {
  display: flex;
  flex-direction: column;

  gap: 15px;
}

.sidebar nav a {
  color: white;

  text-decoration: none;

  padding: 12px;

  border-radius: 8px;

  transition: 0.3s;
}

.sidebar nav a:hover {
  background-color: rgba(255,255,255,0.1);
}

.sidebar nav a.active {
  background-color: white;

  color: #0d3b66;

  font-weight: bold;
}